.movie-card-container {
    display: inline-block;
    margin: 10px 10px 10px 10px;
    vertical-align: middle;
}

.movie-card {
    width: 300px;
    height: 400px;
    background-color: rgb(85, 176, 190);
}

.movie-card:hover {
    width: 300px;
    height: 350px;
    background-color: rgb(85, 150, 160);
    transform: scale(1.2);
}

.movie-title {
    font-weight: bold;
}