.modal-top {
    float: right;
}

.closeBtn {
    font-weight: bolder;
    color: red;
    font-size: 30px;
}

.movie-title-modal {
    font-size: 40px;
    font-weight: bold;
}

.overlay {
    background-color: rgb(110, 137, 246);
    position: relative;
  }

.modal-container {
    max-width: 1600px;
    max-height: 1000px;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(132, 215, 198, 0.95);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
}

.no-overview{
    color: red;
}

.genre {
    display: inline;
}

.genre-movie {
    display: inline;
    font-weight: bold;
}

.movie-overview-detail {
    font-weight: bold;
    text-align: center;
}

.movie-overview {
    display: flex;  
    margin: auto;
    width: 70%;
    margin-top: 30px;
}